
.button-container a {
    text-decoration: none;
    outline: none;
    color: white;
    z-index: 1;
    display: inline-block;
    position: relative;
    border-radius: 18px;
    padding: 10px 20px;
    border: 1px solid;
    background: -webkit-linear-gradient(#1589e4, #034982);
    background: linear-gradient(#1589e4, #034982);
    max-width: 90px;  font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165,.84,.44,1);
}
.button-container a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: linear-gradient(180deg, #313131, #313131, #313131, #313131);
    transition: .8s cubic-bezier(.165,.84,.44,1);
}
a:hover {}
a:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}

.side-block-fixed{
    background: -webkit-linear-gradient(#F44336, #d62744);
    background: radial-gradient(#F44336, #d62744);
    color: #FFF;
    font-size: 17px;
    width: 1ch;
    word-wrap: break-word;
    padding: 10px 20px 10px 20px;
    position: fixed;
    z-index: 99;
    border-radius: 10px 0 0 10px;
    top: 26%;
    right: 0;
    opacity:0;
    line-height: 1;
    cursor: pointer;
    right: -30;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.4s all;
}
.side-block-fixed.active{
    display:block;
    opacity:1;
    right: 0px;
}
.side-block-fixed.active:hover{
    display:block;
    opacity:1;
    right: 0px;
    padding-right: 50px;
}