h1 {
    color: seagreen;
    font-size: 18px;
    box-shadow: aquamarine;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}
p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.container {
    border: 1px darkgrey dashed;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
}
.wrap{
    width: 100%;
    min-width: 850px;
}
.inner-wrap{
    min-width: 640px;
    max-width: 1280px;
    margin: 0 auto;
    clear: both;
    position: relative;
}
.header{
    padding: 5px;
}
.header__top{
    font-size: 0;
}
.header__top-logo {
    font-size: 15px;
    width: 27%;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.header__top-logo a{
    display: block;
    padding: 5px;

}
.header__top-info-block{
    font-size: 15px;
    width: 30%;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.header__top-info-block_section{
    /*width: fit-content;*/
    margin: 0 auto;
    padding: 5px;
}
.header__top-center-block{
    width: 43%;
    display: inline-block;
    font-size:15px;
    vertical-align: middle;
}
.header__top-center-block_title{
    text-align: center;
    padding: 20px;
}
.header__top-info-block_services{
    width: 100%;
    box-sizing: border-box;
}
.header__logo-src {
    max-width: 350px;
    width:100%;
    max-height: 184px;
}
.header__menu{
    width:100%;
    margin-top: 5px;
}
.header__menu ul{
    border: 1px darkgrey dashed;
    list-style: none;
    display: flex;
    justify-content: center;
    min-height: 40px;
}
.header__menu li{
    border-right: 1px solid #d2d2d2;
    min-height: 26px;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
}
.header__menu li:first-child{
    border-left: 1px solid #d2d2d2;
}
.header__menu li a {
    padding: 0 30px 0 30px;
    display: flex;
    align-items: center;
    font-size: 19px;
    text-decoration: none;
    color: #969696;
}
.header__menu li a:hover {
    background-color: black;
    color: white;
}

.phone-wrapper{
    margin-top: 5px;
    padding: 15px;
    text-align: center;
    border: 1px darkgrey dashed;
}
.items-wrapper{
    padding:15px;
    border: 1px darkgrey dashed;
    display: flex;
    justify-content: space-around;
    font-size:15px;
}
.items-wrapper__item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.items-wrapper__item.services{
    border: 1px darkgrey dashed;
    height: 100px;
    width: 150px;
    text-align: center;
}
.items-wrapper__item.social{
    border: 1px darkgrey dashed;
    height: 30px;
    width: 30px;
    text-align: center;
}


/****SLIDER***/
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.mg-top5{
    margin-top: 5px;
}
.main-slider{
    height: auto;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container-v {
    background: #fff;
}
body .swiper-button-next{
    right: 25px;
}
body .swiper-button-prev{
    left: 25px;
}
.main-slider .swiper-wrapper img {
    width: 100%;
    display: block;
    height: 500px;
    object-fit: cover;
}
.main-slider .swiper-slide{

}
/***/

/****BENEFITS****/
.benefits_box {
    margin-bottom: 5px;
    margin-top: 5px;
}
.benefits_list_box {
    overflow: hidden;
}
.benefits_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.benefits_item {
    width: -webkit-calc((100% / 4) - 50px);
    width: calc((100% / 4) - 50px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 25px 40px;
}
.b_img {
    text-align: center;
}
.b_title {
    font-size: 24px;
    text-align: center;
    padding: 0 15px;
    height: 42px;
    height: auto;
    min-height: 42px;
}
.b_text {
    font-size: 16px;
    color: #858484;
    text-align: justify;
}
.link_more {
    text-align: center;
    padding-bottom: 10px;
}
.link_more a {
    color: #7d7d7d;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
    background: #ffffff;
    padding: 15px 30px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border: 2px solid #b1b1b1;
}
.link_more a:hover {
    background: none;
}
.main_title {
    font-size: 48px;
    font-weight: 300;
    color: #000;
    text-align: center;
    margin-bottom: 45px;
}
.box {
    max-width: 1288px;
    padding: 0 40px;
    margin: auto;
}
@media screen and (min-width: 0px) and (max-width: 1024px) {
    .box {
        padding: 0;
    }
    .benefits_item {
        width: -webkit-calc((100% / 2) - 30px);
        width: calc((100% / 3) - 30px);
        /*padding: 0 30px;*/
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.repair-info-block__title a{
    padding: 15px;
    display: inline-block;
    min-width: 130px;
    vertical-align: middle;
}
.repair-info-block__title {
    cursor: pointer;
}

.repair-info-block__title.active::after,
.repair-info-block__title::after {
    content: '\276F';
}

.repair-info-block__title::after{
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: width 2s, height 2s, background-color 2s, transform 0.5s, color 3s;
}
.repair-info-block__title.active::after{
    transform: rotate(270deg);
    transition: width 2s, height 2s, background-color 2s, transform 0.5s, color 3s;
    color: teal;
}


.repair-info-block__wrapper{
    border: 1px darkgrey dashed;
}
.repair-info-block__wrapper-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 2vw;
}
.repair-info-block__wrapper-list-item{
    text-align: center;
    padding: 15px;
}

.the-best-slider-ever{
    margin-top: 15px;
    height:300px;
}