h1 {
    color: seagreen;
    font-size: 18px;
    box-shadow: aquamarine;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}
.container {
    border: 1px darkgrey dashed;
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
}
.wrap{
    width: 100%;
    min-width: 640px;
}
.inner-wrap{
    min-width: 640px;
    max-width: 1280px;
    margin: 0 auto;
    clear: both;
    position: relative;
}
.header{
    padding: 5px;
}
.header__top{
    font-size: 0;
}
.header__top-logo {
    font-size: 15px;
    width: 27%;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.header__top-logo a{
    display: block;
    padding: 5px;

}
.header__top-info-block{
    font-size: 15px;
    width: 30%;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.header__top-info-block_section{
    /*width: fit-content;*/
    margin: 0 auto;
    padding: 5px;
}
.header__top-center-block{
    width: 43%;
    display: inline-block;
    font-size:15px;
    vertical-align: middle;
}
.header__top-center-block_title{
    text-align: center;
    padding: 20px;
}
.header__top-info-block_services{
    width: 100%;
    box-sizing: border-box;
}
.header__logo-src {
    max-width: 350px;
    width:100%;
    max-height: 184px;
}
.header__menu{
    width:100%;
    margin-top: 5px;
}
.header__menu ul{
    border: 1px darkgrey dashed;
    list-style: none;
    display: flex;
    justify-content: center;
    min-height: 40px;
}
.header__menu li{
    border-right: 1px solid #d2d2d2;
    min-height: 26px;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
}
.header__menu li:first-child{
    border-left: 1px solid #d2d2d2;
}
.header__menu li a {
    padding: 0 30px 0 30px;
    display: flex;
    align-items: center;
    font-size: 19px;
    text-decoration: none;
    color: #969696;
}
.header__menu li a:hover {
    background-color: black;
    color: white;
}

.phone-wrapper{
    margin-top: 5px;
    padding: 15px;
    text-align: center;
    border: 1px darkgrey dashed;
}
.items-wrapper{
    padding:15px;
    border: 1px darkgrey dashed;
    display: flex;
    justify-content: space-around;
    font-size:15px;
}
.items-wrapper__item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.items-wrapper__item.services{
    border: 1px darkgrey dashed;
    height: 100px;
    width: 150px;
    text-align: center;
}
.items-wrapper__item.social{
    border: 1px darkgrey dashed;
    height: 30px;
    width: 30px;
    text-align: center;
}

<!-->

html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.main-slider{
    height: 67%;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container-v {
    background: #fff;
}
body .swiper-button-next{
    right: 25px;
}
body .swiper-button-prev{
    left: 25px;
}
.main-slider .swiper-wrapper img {
    width: 100%;
    display: block;
}

