h1 {
    color: seagreen;
    font-size: 18px;
    box-shadow: aquamarine;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 7px;
    margin-block-end: 7px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    list-style: none;
}
p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
button, a {
    color: #29282a;
    outline: none;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}
body {
    background: white;
    line-height: 1;
    margin: 0;
}

/*body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}*/
body {
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 100;
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    min-width: 320px;
    position: relative;
    line-height: 1.3;
    -webkit-font-smoothing: antialised;
}
.apple{
    background-size: 16px 44px;
    background-repeat: no-repeat;
    background-image: url(../../assets/img/header/image_large.svg) !important;
    background-position: center center;
    width: 16px;
}

.container {
    /*border: 1px darkgrey dashed;*/
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
}
.wrap{
    width: 100%;
    min-width: 850px;
}
.inner-wrap{
    min-width: 640px;
    max-width: 1280px;
    margin: 0 auto;
    clear: both;
    position: relative;
}
.header{
    /*padding: 5px 0 0 0;*/
}
.header-top{
    background-color: #fafafa;
}
.header__top{
    font-size: 0;
}
.header__top-logo {
    font-size: 15px;
    width: 27%;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.header__top-logo a{
    display: block;
    /*padding: 5px;*/

}
.header__top-info-block{
    font-size: 29px;
    width: 30%;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.header__top-info-block_section{
    /*width: fit-content;*/
    margin: 0 auto;
    padding: 5px;
    border-left: 1px solid #313131;
    padding: 5px 5px 5px 0;
}
.header__top-center-block{
    width: 43%;
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
}
.header__top-center-block_title{
    text-align: center;
    padding: 20px 0 20px 0;
}
.header__top-info-block_services{
    width: 100%;
    box-sizing: border-box;
}
.header__logo-src {
    max-width: 350px;
    width:100%;
    max-height: 216px;
}
.header__menu{
    background: rgba(45,45,45,0.98);
    width:100%;
    /*margin-top: 5px;*/
    position: relative;
    z-index: 10;
    /*opacity: 0.85;*/
}
.header__menu.fixed{
    position: fixed;
    top: 0;
    background: rgba(45,45,45,0.78);
}
.items-wrapper__item.social.facebook{
    background-size: contain !important;
    background: url(../../assets/img/header/facebook.png);
}
.items-wrapper__item.social.VK{
    background-size: contain !important;
    background: url(../../assets/img/header/VK.png);
}
.items-wrapper__item.social.insta{
    background-size: contain !important;
    background: url(../../assets/img/header/insta.png);
}
.items-wrapper__item.social.twitter{
    background-size: contain !important;
    background: url(../../assets/img/header/twitter.png);
}

.header__menu ul{
    /*border: 1px darkgrey dashed;*/
    list-style: none;
    display: flex;
    justify-content: center;
    min-height: 40px;
}
.header__menu li{
    /*border-right: 1px solid #d2d2d2;*/
    min-height: 26px;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
}
.header__menu li:first-child{
    /*border-left: 1px solid #d2d2d2;*/
}
.header__menu li a {
    padding: 0 30px 0 30px;
    display: flex;
    align-items: center;
    font-size: 17px;
    text-decoration: none;
    color: #FFF;
    opacity: 0.95;
    white-space: nowrap;
}
.header__menu li a:hover {
    opacity: 0.65;
    color: #FFF;
}

.phone-wrapper{
    margin-top: 5px;
    padding: 16px;
    text-align: center;
    /*border: 1px darkgrey dashed;*/
}
.items-wrapper{
    padding:15px;
    /*border: 1px darkgrey dashed;*/
    display: flex;
    justify-content: space-around;
    font-size:15px;
}
.items-wrapper__item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.items-wrapper__item.services{
    /*border: 1px darkgrey dashed;*/
    height: 100px;
    width: 150px;
    text-align: center;
}
.items-wrapper__item.social{
   /* border: 1px darkgrey dashed;*/
    height: 30px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}


/****SLIDER***/
html, body {
    position: relative;
    height: 100%;
}

.mg-top5{
    margin-top: 5px;
}
.main-slider{
    height: auto;
    /*margin-top: -47px;*/
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fafafafa;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-container-v {
    background: #fff;
}
body .swiper-button-next{
    right: 25px;
}
body .swiper-button-prev{
    left: 25px;
}
.main-slider .swiper-wrapper img {
    width: 100%;
    display: block;
    height: 500px;
    object-fit: contain;
}


.main-slider .swiper-slide{

}
/***/

/****BENEFITS****/
.benefits_box {
    margin-bottom: 5px;
    margin-top: 5px;
}
.benefits_list_box {
    overflow: hidden;
}
.benefits_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.benefits_item {
    width: -webkit-calc((100% / 4) - 50px);
    width: calc((100% / 4) - 50px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 25px 40px;
}
.b_img {
    text-align: center;
}
.b_img img{
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.b_title {
    font-size: 24px;
    text-align: center;
    padding: 0 15px;
    height: 42px;
    height: auto;
    min-height: 42px;
}
.b_text {
    font-size: 16px;
    color: #858484;
    text-align: justify;
}
.link_more {
    text-align: center;
    padding-bottom: 10px;
}
.link_more a {
    color: #7d7d7d;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
    background: #ffffff;
    padding: 15px 30px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border: 2px solid #b1b1b1;
}
.link_more a:hover {
    background: none;
    background: whitesmoke;
}
.main_title {
    color: #000;
    text-align: center;
    margin-bottom: 45px;
}
.box {
    max-width: 1288px;
    padding: 0 40px;
    margin: auto;
}
@media screen and (min-width: 0px) and (max-width: 1024px) {
    .box {
        padding: 0;
    }
    .benefits_item {
        width: -webkit-calc((100% / 2) - 30px);
        width: calc((100% / 3) - 30px);
        /*padding: 0 30px;*/
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.repair-info-block__title a{
    padding: 15px;
    display: inline-block;
    min-width: 130px;
    vertical-align: middle;
}
.repair-info-block__title {
    cursor: pointer;
    background-color: #efefef;
}

.repair-info-block__title.active::after,
.repair-info-block__title::after {
    content: '\276F';
}

.repair-info-block__title::after{
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: width 2s, height 2s, background-color 2s, transform 0.5s, color 3s;
}
.repair-info-block__title.active::after{
    transform: rotate(270deg);
    transition: width 2s, height 2s, background-color 2s, transform 0.5s, color 3s;
    color: teal;
}


.repair-info-block__wrapper{
    border: 1px darkgrey dashed;
    margin: 5px;
}
.repair-info-block__wrapper-list{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 2vw;
}
.repair-info-block__wrapper-list-item{
    text-align: center;
    padding: 15px;
}

.the-best-slider-ever{
    margin-top: 15px;
    height:300px;
}


.pick-block{
    margin-top: 15px;
}
.pick-block__stuff{
    font-size: 0;
    text-align: center;
    /*cursor: pointer;*/
}
.pick-block__stuff > li{
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
    min-width: 200px;
    padding: 15px;
}
.stuff-wrapper__front-block{
    cursor: pointer;
}
.stuff-wrapper__list{
    display: none;
    margin: 0px auto;
}
.pick-block__stuff > li.active .stuff-wrapper__list{
    /*display: block;*/
}

.stuff-wrapper__list > li{
    display: inline-block;
    width: 50px;
    padding: 5px;
    margin: 5px;
    border: 1px solid lightslategrey;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;

    -webkit-transition: 0.3s all, 0.2s box-shadow;
    -moz-transition: 0.3s all, 0.2s box-shadow;
    -ms-transition: 0.3s all, 0.2s box-shadow;
    -o-transition: 0.3s all, 0.2s box-shadow;
    transition: 0.3s all, 0.2s box-shadow;
}
.stuff-wrapper__list .long_li{
    width: 75px;
}
.stuff-wrapper__list > li:hover{
    -webkit-box-shadow: 0px 0px 5px #b5b5b5, 0px 0px 5px black;
    box-shadow: 0px 0px 5px #b5b5b5, 0px 0px 5px black;
}

.stuff-wrapper__list{
    width: 170px;
}
.stuff-wrapper__list[data-device="iPad"]{
    width: 200px;
}
.stuff-wrapper__list li.active{
    background-color: #0070c9;
    background: -webkit-linear-gradient(#42a1ec, #0070c9);
    background: linear-gradient(#42a1ec, #0070c9);
    color: #FFF;
    border-color: #268edf;
}
.stuff-wrapper__front-block_pic img{
    max-height: 170px;
}

.pick-block__services-list{
    font-size: 0;
}
.pick-block__services-item {
    padding: 10px 0 10px 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 25%;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

.pick-block__services{
    display: none;
    text-align: center;
}
.pick-block__services h2{
    display: inline-block;
    font-size: 22px;
    font-weight: 100;
}

.services-item__wrapper{
    box-sizing: border-box;
    position: relative;
    text-align: center;
    cursor: pointer;
    width: 300px;
    border-radius: 3px;
    margin: 0 auto;
    border: 1px solid gray;
    height: 140px;
    border-radius: 3px;
    font-size: 15px;

}

.services-item__wrapper:hover{
    -webkit-box-shadow: 0px 0px 5px #b5b5b5, 0px 0px 5px black;
    box-shadow: 0px 0px 20px 0px #cacaca, 0px 0px 5px white;
}
.services-item__wrapper:hover .services-item__wrapper-price{
    opacity: 1;
}

.services-item__wrapper-price{
    padding: 10px;
    font-size: 18px;
    position: absolute;
    left: 0px;
    right: 0px;
    opacity: 0;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
     transition: 0.4s all;
}
.services-item__wrapper-img{
    margin-top: 40px;
}
.services-item__wrapper.active{
    background-color: #0070c9;
    background: -webkit-linear-gradient(#42a1ec, #0070c9);
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #268edf;
    color: white;
}
.header__top-info-block_section .items-wrapper{
    border-bottom: 1px solid #313131;
}

.pick-block__services-close{
    cursor: pointer;
    position: relative; */
    top: -5px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    /* width: 100; */
    border-right: 0.2em solid black;
    border-top: 0.2em solid black;
    transform: rotate(-45deg);
    margin-right: 0.5em;
    margin-left: 1.0em;
}





/*media*/
@media screen and (max-width:1240px){
    .main-slider .swiper-wrapper img {
        height: 400px;
    }
}
@media screen and (max-width:1000px){
    .main-slider .swiper-wrapper img {
        height: 300px;
    }
}
@media screen and (max-width:1225px){
    .pick-block__stuff {
        width: 600px;
        margin: 0 auto;
    }

    .pick-block__services-item{
        width: 33.3%;
    }
}
@media screen and (max-width:600px){
    .pick-block__stuff {
        width: 300px;
        margin: 0 auto;
    }
}
@media screen and (max-width:950px){
    .pick-block__services-item{
        width: 50%;
    }
}
@media screen and (max-width:877px){
    .header__top-info-block {
        font-size: 28px;
    }
}